@font-face {
  font-family: "Kids Monday";
  src: url("KidsMonday.ttf");
}

body {
  font-family: "Kids Monday";
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

h1,
.header h1 {
  font-size: 32px;
  letter-spacing: 2px;
}

section {
  padding: 50px;
  text-align: center;
}

/* SLIDER DE FOTOS DE LAS DONAS VARIOS MODELOS */
* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySlides {
  justify-content: center;
  width: auto;
  height: 30%;
}

.image-gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-gallery img {
    width: 400px;
    height: 400px;
  }

 .image-gallery img {
    width: 100%;
    height: auto;
  }


.image-gallery img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s;
}
.image-gallery a:hover img {
  transform: scale(1.1);
}

.small-image {
  max-width: auto;
  height: 500px;
  padding: 5px;
  display: flex;
}

.prev,
.next {
  cursor: pointer;
  position: center;
  top: 40%;
  width: 10px 10px;
  padding: 10px 10px 10px 10px;
  margin-top: -50px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  border-radius: 80px;
  user-select: none;
  -webkit-user-select: none;
}

.prev:hover,
.next:hover {
  background-color: rgba(241, 62, 62, 0.8);
}

.caption-container {
  text-align: center;
  background-color: #e70c7a;
  padding: 2px 16px;
  color: white;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  
}

.column {
  float: left;
  width: 100px;
  padding: 0;
}

.demo {
  opacity: 0.6;
  width: 100px;
  height: auto;
  margin: 0;
}

.active,
.demo:hover {
  opacity: 1;
 
  width: 100px;
}

h2,
.contact h2,
.promotions h2 {
  font-size: 24px;
  color: #e70c7a;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e70c7a;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.testimonial {
  margin-bottom: 20px;
}

.testimonial p {
  font-style: italic;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

form input,
form textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e70c7a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kids Monday";
  letter-spacing: 2px;
}


.promotions {
  text-align: center;
}

.promotions h2 {
  font-size: 44px;
  margin-bottom: 0px;
}

/* Estilos para dispositivos de escritorio */
@media screen and (min-width: 768px) {
  .promotion-items {
    display: flex;
    justify-content: center;
  }

  .promotion-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

/* Responsive */
@media screen and (max-width: 767px) {
  .promotion-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.image-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.image-gallery img {
    width: 200px;
    height: 200px;
  }

 .image-gallery img {
    width: 100%;
    height: auto;
  }


.image-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}
.image-gallery a:hover img {
  transform: scale(1.1);
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  .demo {
    opacity: 0.6;
    width: 30px;
    height: auto;
    margin: 0;
  }
  .active,
.demo:hover {
  opacity: 1;
  width: 30px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
  
}
.promotions h2 {
  font-size: 28px;
  margin-bottom: 0px;
}

.column {
  float: left;
  width: 30px; 
  padding: 0;
}

    .small-image {
      align-items: center;
      justify-content: center;
      max-width: auto;
      height: 250px;
      padding: 0;
      display: flex;
    }
  
    .mySlides {
      justify-content: right;
      width: auto;
      height: 30%;
      margin: 10px;
    }
  }
  .promotion-item {
    margin: 10px;
  }

  .promotion-item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
  }

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#df2d86, #ff85c2);
}

.header h1 {
  letter-spacing: 5px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin: 30px;
}

.text-container2 {
  margin-top: 0;
  text-align: center;
  font-size: 20px;
}

.image-container {
  margin-bottom: 0;
  text-align: center;
  font-size: 10px;
}

h1 {
  font-size: 52px;
  color: #e70c7a;
  margin-bottom: 10px;
  font-family: "Kids Monday", cursive;
  letter-spacing: 2px;
  -webkit-text-stroke: 0.005px #b81a69;
}

p {
  font-size: 18px;
  color: #b4adb4;
  font-family: "Kids Monday", cursive;
  letter-spacing: 2px;
}

.contact {
  margin-top: 50px;
}

.contact form {
  display: grid;
  grid-gap: 20px;
}

.contact label {
  font-size: 18px;
  color: #333;
}

.contact input,
.contact textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.contact button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #e70c7a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Kids Monday";
  letter-spacing: 2px;
}

.contact button:hover {
  background-color: #e70c7a;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.close:hover {
  color: #ccc;
}

@media screen and (max-width: 1080px) {
  .slider {
    aspect-ratio: 10/16;
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  .slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
  }
}

@media screen and (max-width: 1080px) {
  .text-container2 h1 {
    font-size: 20px;
  }
}
